


/* CSS LOADER */
.main{
    width:100vw;
    margin:auto;
    height:100vh;
    overflow-x:hidden;
     transition:opacity 2s ease-in;
     opacity:0;
     display:none;
    }


.loader{
    font-size:40px;
    color:palevioletred;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 17rem;
}

.loader::after{
    content:'\2026';
    width:0px;
    vertical-align:bottom;
    animation:dots steps(4, end) 2s infinite;
    display:inline-block;
    overflow:hidden;
}

 span{
color:#ffc107;
font-size:2.5rem;
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-weight:bold;
/* text-shadow: blue; */
}

/* .fa-image{
    color:rgb(17, 216, 60);
    font-size:2.5rem;

} */

.loader > span{
    display: inline-block;
    background-color:purple;
    width:0px;
    height:0px;
    border-radius:50px;
    margin:0 8px;
    animation:bounce 0.5s infinite alternate;
    translate: 3d(0);
}

.loader > span:nth-child(2){

background-color:violet;
animation-delay:0.2s;
}

.loader > span:nth-child(3){
    background-color:palevioletred;
    animation-delay:0.4s;
}


@keyframes bounce{
to{
    width:16px;
    height: 16px;
    transform:translate3d(0, -16px, 0);
}
}



